.divAnuncioProfesionales{
	margin: 1.5rem;
	padding: 1.4rem !important;
	border-radius: .5rem !important;
	border:2px solid grey;
	height: 180px;
	width: 837px;
	background: rgb(230,230,230);
	background: linear-gradient(90deg, rgba(230,230,230,1) 0%, rgba(248,248,248,1) 26%, rgba(248,248,248,1) 100%);
}

#nombreProfesionales {

	font-family:'Exo 2', sans-serif;
	font-size: 180%;
	margin-top:1%;
	top:75%;
	text-align:center;
	right:4.5%;
}

.especialidadIndicador {
	font-family:'Exo 2', sans-serif;
	font-size: 100%;
	top:75%;
	color:grey;
	
}
#especialidadEstilo {

	font-family:'Exo 2', sans-serif;
	font-size: 125%;
	top:75%;
	color: rgb(156, 10, 10);
}

.provinciaIndicador {
	font-family:'Exo 2', sans-serif;
	font-size: 100%;
	top:75%;
	color:grey;
	
}
#provinciaEstilo {

	font-family:'Exo 2', sans-serif;
	font-size: 125%;
	top:75%;
	color: rgb(156, 10, 10);
}

.divAnuncioProfesionales button{
    top:80%;
}


.filtroProfesionales {
	margin: 1.5rem;
	border-radius: .5rem !important;
	border:0.3px solid grey;
	height: 75px;
	width: 837px;
	background-color: rgb(230, 230, 230);
	text-align: center;
	padding-top: 1%;
	font-size: 115%
	
}

.divFotoPerfil {

	border-radius: .5rem !important;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid grey;
  left:13%;
  top:-3%;
  background:white;
}

.botonPedirCita {
	margin-right: 3%;
	margin-top: 2%;
}




	
/*VALORACION*/
.divEstrellitas {
	height: 90px;
	width: 170px;
	padding-top:35px;
	float:right;
}


#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
 
}

#form p {
  text-align: center;
  
}

#form label {
  font-size: 20px;
 
  
}

input[type="radio"] {
  display: none;
}

label.star{
  color: grey;
  font-size: 20px;
  
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}


label.star:hover,
label.star:hover ~ label.star {
  color: orange;
}

input[type="radio"]:checked ~ label.star {
  color: orange;
}

/*=======BOTON PEDIR CITA ===========*/
#botonPC {
	float: right;
}

