.divCasosPendientes{
	margin: 1.5rem;
	padding: 1.4rem !important;
	border-radius: .5rem !important;
	border:2px solid grey;
	height: 11%;
	width: 100%;
	background: rgb(230,230,230);
	background: linear-gradient(90deg, rgba(230,230,230,1) 0%, rgba(248,248,248,1) 26%, rgba(248,248,248,1) 100%);
}

.divCasosAceptados{
	margin: 1.5rem;
	padding: 1.4rem !important;
	border-radius: .5rem !important;
	border:2px solid grey;
	height: 15%;
	width: 100%;
	background: rgb(230,230,230);
	background: linear-gradient(90deg, rgba(230,230,230,1) 0%, rgba(248,248,248,1) 26%, rgba(248,248,248,1) 100%);
}


.botonCasoAceptarRechazar {
	width: 6.5rem;
	height: 4rem;
	margin-top: 1.5rem;
}

.botonCambioPropuesta {
	height: 4rem;
	margin-top: 1.5rem;
}

.ajusteIcono {
	display: inline-block;
    width: 100%;	
}

#nombrePersona {

	font-family:'Exo 2', sans-serif;
	font-size: 120%;
	color:black;

}

.tituloCasosIndicador {
	font-family:'Exo 2', sans-serif;
	font-size: 100%;
	top:75%;
	color: rgb(156, 10, 10);
}


.textoCasosContenido {
	font-family:'Exo 2', sans-serif;
	font-size: 100%;
	color: black;
	width:80%;
	display:block;
	
}

.estadoSolicitudPaciente {
	font-family:'Exo 2', sans-serif;
	font-size: 180%;
	color: rgb(64, 122, 214);
	width:80%;
	margin-left:4%;
}




