footer a{
	color: grey;
    padding: 0;
}

footer .RRSS img{
    height: 20px;
    width: auto;
    margin-left: 10px;
}
footer p.RRSS a{
    padding: 7px;
    display: inline-block;
}

footer .selectorIdioma a{
    margin-right: 20px;
}

footer .copyright{
    padding: 15px;
    color:grey;
    font-size: 80%;
    width: 100%;
    margin-top: 25px;
}

.categoriaEmpresa{
	float:left;
	margin-right:100px;
	margin-left:30%;
}

.categoriaEspecialidades{
	float:left;
	margin-right:100px;
}

.tituloRedes{
	float:left;
}

/* #divFooter{
	width:100%;
	background-color:#333 !important;
	position:absolute;
	bottom:0;
	margin-bottom:0;

} */

h5{
	color: grey;
}