
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }

 footer {
 width:100%;
 margin-top: 40%;

 }
 
button#aceptar{
	color:white;
	background-color: #A42121;
	padding: 8px;
	border-radius: 5px;
	
}
#barraaceptacion {
	display:block;
	position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    min-height: 20px;
    background-color:rgb(94, 94, 94, 0.5);
    color: #fff;
    z-index: 99999;
    line-height: 10px;
}