footer.row{
    
    margin:50px auto 0 auto;
    padding-top: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    background-color: white;
    float:left;
    display:inline;
}

footer a{
    color: grey;
    padding: 0;
}

footer .categoriaEspecialidades{
    padding-top: 2.02rem;
}

footer .RRSS img{
    height: 20px;
    width: auto;
}
footer p.RRSS a{
    padding: 7px;
    display: inline-block;
}

footer .copyright{
    border-top:1px solid #EEE;
    padding: 15px;
    color:grey;
    font-size: 80%;
    width: 100%;
    margin-top: 25px;
}
