#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: #333;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: red;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;    
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

/*Navar principal*/

nav .navbar-inverse {
	
}

footer .row{
    
    margin:50px auto 0 auto;
    padding-top: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
}

footer a{
	color: grey;
    padding: 0;
}

footer .RRSS img{
    height: 20px;
    width: auto;
    margin-left: 10px;
}
footer p.RRSS a{
    padding: 7px;
    display: inline-block;
}

footer .selectorIdioma a{
    margin-right: 20px;
}

footer .copyright{
    padding: 15px;
    color:grey;
    font-size: 80%;
    width: 100%;
    margin-top: 25px;
}

.categoriaEmpresa{
	float:left;
	margin-right:100px;
}

.categoriaEspecialidades{
	float:left;
	margin-right:100px;
}

.tituloRedes{
	float:left;
}

#divInicial{
	margin-left: auto;
	margin-right: auto;
	
}

