#divContenido{
	width:190rem;
	height:25rem;
	background-image:url("../../assets/img/banner.jpg") !important;
}

.contenidoPrincipal{
	width:190rem;
}

#buscador{
	margin-left:45rem;
	margin-top:10rem;

}

.acerca{
	height:35rem;
	margin-top:1rem;
}

.acerca h2{
	text-align:center;
	font-family:'Exo 2', sans-serif;
	color:grey;
}

.contenidoExplicativo{
	margin-top:3rem;
	margin-left:60rem;
}

.primeraExplicacion{
	
}

.segundaExplicacion{
	
}

.terceraExplicacion{
	
}

.cuartaExplicacion{
	
}

.textoexp1{
	font-family: 'Exo 2', sans-serif;
	font-weight:bold;
}

.textoexp2{
	font-family: 'Exo 2', sans-serif;
}
