#divContenido{
	width:100%;
	height:30rem;
 	background-image:url("../../assets/img/banner.jpg") !important; 
 	background-size:100% 100%;
}

.contenidoPrincipal{
	z-index:-1;
}


#buscador{
	margin-left:70vh;
	margin-top:10rem;
}

.inputPortada{
	float:left;
}

.botonBuscador{
	float:right;
	background-color:#00CCCC;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
    box-shadow: 0px 1px 0px #CCCCCC;
    padding:5px 5px 5px 5px
}

.acerca{
	height:35rem;
	margin-top:1rem;
	margin-bottom:750px;
	z-index:-1;
}

.acerca h2{
	text-align:center;
	font-family:'Exo 2', sans-serif;
	color:grey;
}

.explicacion{
	margin-left:31%;
	margin-bottom:3%;
	width:40%;
}

.textoLogo{
	font-family: 'Exo 2', sans-serif;
	font-weight:700;
}

.textoexp1{
	font-family: 'Exo 2', sans-serif;
	font-size:large;
	color:#043E75;
}

.textoexp1-enunciados{
	font-family: 'Exo 2', sans-serif;
	font-size:220%;
	color:#043E75;
}

.textoexp2{
	font-family: 'Exo 2', sans-serif;
	font-size:medium;
	margin-left:2%;
}

.textoexp2-sinMargen{
	font-family: 'Exo 2', sans-serif;
	font-size:medium;
	margin-left:0.2%;
}

.noregistrado {
	font-family: 'Exo 2', sans-serif;
	font-size:150%;
	margin-left:0.2%;
	color:rgb(223, 71, 89);
	background-color:rgb(245, 223, 223);
	width:44%;
	padding-left:0.5%;
	border-radius:6px;


}


.fa-instagram {
  color: transparent;
  background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

/* CSS DE LO MAS BUSCADO */

.profesionalesBuscados{
	width: 990px;
	margin: 0 auto;
}

.subtitulo{
	text-align:center;
	font-family:'Exo 2', sans-serif;
	color:grey;
}

.profesionalesBuscados ul{
	list-style-image: initial;
	list-style: none;
	padding-left:0;
	margin-top:30px !important;
	text-align: center;
}

.profesionalesBuscados li{
	margin-left:0;
	list-style-image: initial;
	display: inline-block;
    width: 166px;
    height: 218px;
    border-radius: 5px;
    position: relative;
    list-style: none;
    padding-left: 0;	
}

.foo{
	background-image: initial;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(232, 230, 227);
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgba(0,0,0,.5);
    padding-top: 10px;
    text-align: center;
    transition: width 1s,height 1s,transform 1s;
}

.sprite-h2{
	background-image: url(https://ta.azureedge.net/i/sprite_home5.png) !important;
}

.l1{
	background-image:url("../img/traumatologo.jpg") !important;
	background-size:282px 226px;
}

.l2{
	background-image:url("../img/psicologo.jpg") !important;
	background-size:205px 220px;

}

.l3{
	background-image:url("../img/podologo.jpeg") !important;
	background-size:282px 226px;
}

.l4{
	background-image:url("../img/nutricionista.jpg") !important;
	background-size:282px 226px;
}
#buscabusca {
	float: left;
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }