#divContenido{
	width:100%;
	height:30rem;
	background-image:url("../../assets/img/banner.jpg") !important;
}

.contenidoPrincipal{
	z-index:-1;
}

#buscador{
	margin-left:70vh;
	margin-top:10rem;
}

.acerca{
	height:35rem;
	margin-top:1rem;
	margin-bottom:750px;
	z-index:-1;
}

.acerca h2{
	text-align:center;
	font-family:'Exo 2', sans-serif;
	color:grey;
}

.explicacion{
	margin-left:33%;
	margin-bottom:5%;
}

.textoLogo{
	font-family: 'Exo 2', sans-serif;
	font-weight:700;
}

.textoexp1{
	font-family: 'Exo 2', sans-serif;
	font-size:large;
	color:#043E75;
}

.textoexp2{
	font-family: 'Exo 2', sans-serif;
	font-size:medium;
	margin-left:2%;
}

.fa-instagram {
  color: transparent;
  background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}
